<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Nike</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<script src="/javascripts/jquery-1.12.4.min.js"></script>
</head>
<body>
	<header class="header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/car"><i class="glyphicon glyphicon-heart-empty"></i></a></li>

					</ul>
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="搜索">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/man">男子 <span class="sr-only">(current)</span></a></li>
						<li><a href="/woman">女子</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">儿童 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">儿童01</a></li>
								<li><a href="#">儿童01</a></li>
								<li><a href="#">儿童01</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">儿童01</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">儿童01</a></li>
							</ul>
						</li>
						<li><a href="/login">登录</a></li>
					</ul>


				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header><!-- /header -->

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<p class="text-center">Nike App 超级星期五每周五中午上线独家福利，超多限时优惠和专属惊喜等你体验。前往 Nike App 收获更多精彩，即刻下载</p>
			</div>
			<div class="item">
				<p class="text-center">受疫情影响，所有发往新疆部分地区的物流目前已停止揽收，<a href="#">了解详情</a></p>
			</div>
			
		</div>
	</div>

	<!-- tab1 -->
	<div class="tab1">
		<div class="container">
			<div class="col-md-12">
				<img src="/images/banner3.png">
				<div class="Item_tab1 text-center">
					<h3>Nike Air Zoom SuperRep 2</h1>
						<p>出众缓震科技，强劲支撑设计，3予全新训练状态</p>
						<button><a href="/ltem">立即选购</a></button>
					</div>
				</div>
			</div>
		</div>
		<div class="tab2">
			<div class="container">
				<div class="col-md-12">
					<h2>主推故事</h2>
					<img src="/images/banner1.png">
					<div class="Item_tab1 text-center">
						<h3>AIR JORDAN X|</h1>
							<p>当经典遇见未</p>
							<button>立即选购</button>
						</div>
					</div>
				</div>
			</div>
			<div class="tab3">
				<div class="container">
					<div class="col-md-12">

						<img src="/images/banner2.png">
						<div class="Item_tab1 text-center">

							<h3>有型有实力<br/>穿对了,瑜伽更进-步</h1>
								<p>NIKE瑜伽系列</p>
								<button>立即选购</button>
						</div>
					</div>
				</div>
			</div>

				<div class="tab4">
					<div class="container">
						<div class="col-md-12">
							<h2>为你推荐</h2>
							<div class="col-md-12">
								<div class="col-md-3">
									<img src="/images/item01.png">
									<button>休闲</button>
								</div>
								<div class="col-md-3">
									<img src="/images/item02.png">
									<button>练就玩色-派</button>
								</div>
								<div class="col-md-3">
									<img src="/images/item03.png">
									<button>练就玩色-派</button>
								</div>
								<div class="col-md-3">
									<img src="/images/item04.png">
									<button>练就玩色-派</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab5">
					<div class="container">
						<div class="col-md-12">
							<h2>人气热销</h2>
							<div class="col-md-12">
								<div class="col-md-6">
									<img src="/images/list01.png">
								</div>
								<div class="col-md-6">
									<img src="/images/list02.png">
								</div>
							</div>
						</div>
					</div>
				</div>
                 
               
			</div>
				<footer class="col-md-12">
					<div class=" col-md-6 col-sm-12">
						<ul class="col-md-4 col-sm-4 col-xs-4 color_black">
							<li>电子礼品卡</li>
							<li>企业团购</li>
							<li>附近商店</li>
							<li>订阅电子邮件</li>
							<li>注册NIKE会员</li>
							<li>向我们发送反馈</li>
						</ul>
						<ul class="col-md-4 col-sm-4 col-xs-4">
							<li class="color_black">获得帮助</li>
							<li>订单状态</li>
							<li>配送方式</li>
							<li>退换货</li>
							<li>付款选项</li>
							<li>联系我们</li>
						</ul>
						<ul class="col-md-4 col-sm-4 col-xs-4">
							<li class="color_black">获得帮助</li>
							<li>订单状态</li>
							<li>配送方式</li>
							<li>退换货</li>
							<li>付款选项</li>
						</ul>
					</div>
					<div class=" col-md-6  text-right fa_font">
						<i class="fa fa-weixin"></i>
						<i class="fa fa-weibo"></i>
					</div>
					<div class="col-md-12  footer_right">
						<hr/>
						
						<div class=" col-md-6">
							<p>中国大陆</p>
						</div>
						<div class=" col-md-6 text-right">
							<p>沪ICP备14009339号</p>
						</div>
					</div>
				</footer>
				<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>	
			</body>
			</html>