<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Nike</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/Item.css">
	<script src="/javascripts/jquery-1.12.4.min.js"></script>
</head>
<body>
	<header class="header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/car"><i class="glyphicon glyphicon-heart-empty"></i></a></li>

					</ul>
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="搜索">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/login">登录</a></li>
					</ul>


				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header><!-- /header -->

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<p class="text-center">Nike App超级星期五每周五中午上线独家福利，超多限时<br/>
					优惠和专属惊喜等你体验。前往Nike App收获更多精<br/>
				彩，即刻下载</p>
			</div>
			<div class="item">
				<p class="text-center">Nike App超级星期五每周五中午上线独家福利，超多限时<br/>
					优惠和专属惊喜等你体验。前往Nike App收获更多精<br/>
				彩，即刻下载</p>
			</div>
			
		</div>
	</div>

	<!-- tab1 -->
	<div class="tab1">
		<div class="container">
			<h2>所有男子鞋类(795) <span>排序依据</span></h2>
			<div class="col-md-12">
				<div class="col-md-3">
					<ul>
						<li>休闲</li>
						<!-- <li>Jordan</li> -->
						<li>跑步</li>
						<li>篮球</li>
					</ul>
					<hr/>
				    <p>性别</p>
				    <p><input type="checkbox" name="">男子</p>
				    <p><input type="checkbox" name="">女子</p>
				    <!-- <p><input type="checkbox" name="">男子</p> -->
				    <hr/>
				    <p>尺码</p>
				    	<button>39</button>
				    	<button>40</button>
				    	<button>41</button>
				    	<button>42</button>
				    	<button>43</button>
				</div>
				<div class="col-md-9">
					<% if (datas.length) { %>
						<% datas.forEach(function(person){ %>
					<div class="col-md-4">
						<img src="\images\<%= person.sp_tp%>">
						<p><a href="/shopping"><%= person.sp_name%></a></p>
						<p><span><%= person.sp_ks%></span></p>
						<p><%= person.sp_jg%></p>
					</div>
					<% }) %>
                        <% } %>  
				</div>
			</div>
		</div>
		
	</div>


		<footer class="col-md-12">
					<div class=" col-md-6 col-sm-12">
						<ul class="col-md-4 col-sm-4 col-xs-4 color_black">
							<li>电子礼品卡</li>
							<li>企业团购</li>
							<li>附近商店</li>
							<li>订阅电子邮件</li>
							<li>注册NIKE会员</li>
							<li>向我们发送反馈</li>
						</ul>
						<ul class="col-md-4 col-sm-4 col-xs-4">
							<li class="color_black">获得帮助</li>
							<li>订单状态</li>
							<li>配送方式</li>
							<li>退换货</li>
							<li>付款选项</li>
							<li>联系我们</li>
						</ul>
						<ul class="col-md-4 col-sm-4 col-xs-4">
							<li class="color_black">获得帮助</li>
							<li>订单状态</li>
							<li>配送方式</li>
							<li>退换货</li>
							<li>付款选项</li>
						</ul>
					</div>
					<div class=" col-md-6  text-right fa_font">
						<i class="fa fa-weixin"></i>
						<i class="fa fa-weibo"></i>
					</div>
					<div class="col-md-12  footer_right">
						<hr/>
						
						<div class=" col-md-6">
							<p>中国大陆</p>
						</div>
						<div class=" col-md-6 text-right">
							<p>沪ICP备14009339号</p>
						</div>
					</div>
				</footer>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>	
</body>
</html>