<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>nike</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/logo.css">
</head>
<body>
	<header class="header">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/car"><i class="glyphicon glyphicon-heart-empty"></i></a></li>
						
					</ul>
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="搜索">
						</div>
						<button type="submit" class="btn btn-default">搜索</button>
					</form>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/login">登录</a></li>
					</ul>
					
					
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header><!-- /header -->
	
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<p class="text-center">Nike App 超级星期五每周五中午上线独家福利，超多限时优惠和专属惊喜等你体验。前往 Nike App 收获更多精彩，即刻下载</p>
			</div>
			<div class="item">
				<p class="text-center">受疫情影响，所有发往新疆部分地区的物流目前已停止揽收，<a href="#">了解详情</a></p>
			</div>
			
		</div>
	</div>
	
	<!-- tab1 -->
	<div class="tab1 ">
		<div class="container">
				<div class="form-group">
					<label for="exampleInputEmail1">账号</label>
					<input type="name" class="form-control" name="account" id="account" placeholder="请输入8-12位数字">
				</div>
				
				<div class="form-group">
					<label for="exampleInputPassword1">密码</label>
					<input type="password" class="form-control" name="psw" id="pwd" placeholder="请输入6-12位数字字母">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">用户名</label>
					<input type="name" class="form-control" name="name" id="name" placeholder="请输入2-6个中文">
				</div>

				<div class="form-group">
					<label for="exampleInputPassword1">电话</label>
					<input type="name" class="form-control" name="phone" id="phone" placeholder="请输入11位电话号码">
				</div>
				
				<button type="button" id="login" class="btn btn-primary"  data-dismiss="modal">submit</button>
		</div>
	</div>
	
	
	<footer class="col-md-12">
		<div class=" col-md-6 col-sm-12">
			<ul class="col-md-4 col-sm-4 col-xs-4 color_black">
				<li>电子礼品卡</li>
				<li>企业团购</li>
				<li>附近商店</li>
				<li>订阅电子邮件</li>
				<li>注册NIKE会员</li>
				<li>向我们发送反馈</li>
			</ul>
			<ul class="col-md-4 col-sm-4 col-xs-4">
				<li class="color_black">获得帮助</li>
				<li>订单状态</li>
				<li>配送方式</li>
				<li>退换货</li>
				<li>付款选项</li>
				<li>联系我们</li>
			</ul>
			<ul class="col-md-4 col-sm-4 col-xs-4">
				<li class="color_black">获得帮助</li>
				<li>订单状态</li>
				<li>配送方式</li>
				<li>退换货</li>
				<li>付款选项</li>
			</ul>
		</div>
		<div class=" col-md-6  text-right fa_font">
			<i class="fa fa-weixin"></i>
			<i class="fa fa-weibo"></i>
		</div>
		<div class="col-md-12  footer_right">
			<hr/>
			
			<div class=" col-md-6">
				<p>中国大陆</p>
			</div>
			<div class=" col-md-6 text-right">
				<p>沪ICP备14009339号</p>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.12.4.min.js"></script>

	<script type="text/javascript">	
		let account=$("#account")
		let pwd=$("#pwd")
		let name=$("#name")
		let phone=$("#phone")
		$("#login").click(function(){
			console.log("开始")
			if(account.val().length==0||pwd.val().length==0||name.val().length==0||phone.val().length==0){
				alert("内容不能为空")
				return;
			}	
			//账号验证
			var accountReg = /^[0-9]{8,12}$/;
			if (!accountReg.test(account.val())) {
				alert("账号格式错误");
				return;
			}

			//密码验证
			var reg = /^[\d\w]{6,12}$/;
			if (!reg.test(pwd.val())) {
				alert("密码格式错误");
				return
			}

			//用户名验证
			var nameReg = /^[\u4e00-\u9fa5]{2,6}$/;  //定义约束,要求输入2到6个中文
            if (!nameReg.test(name.val())) { 
                alert("用户名格式错误");
                return;
            }

			//电话号码验证
			var reg1 = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
            if (!reg1.test(phone.val())) {
                alert("电话号码格式错误");
                return;
            }

			

			var getAccount=account.val()
			var getPwd=pwd.val()
			var getName=name.val()
			var getPhone=phone.val()
			var data={
				"account":getAccount,
				"pwd":getPwd,
				"name":getName,
				"phone":getPhone
			}
			console.log(data)
			$.ajax({
				type:"POST",
				url:"/reg",
				data:data,
				success:res=>{
					console.log(res)
					if(res.code==200){
						alert(res.msg)
						document.location.href="/login"
					}else{
						alert(res.msg)
					}
				},
				error:err=>{
					console.log(err)
				}
			})
		})
    </script>


</body>
</html>

