<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台数据库修改</title>
</head>
<body>
    <form action="/houtai/update" method="post">
        <input type="hidden" value="<%= datas[0].id %>" name="id">
        用户名：<input type="text" name="name" value="<%= datas[0].name %>"><br>
        用户账号：<input type="text" name="account" value="<%= datas[0].account %>"><br>
        用户默认地址：<input type="text" name="address" value="<%= datas[0].address %>"><br>
        用户钱包金额：<input type="text" name="money" value="<%= datas[0].money %>"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>